.image-container {
    width: fit-content; /* Adjust width to fit the image */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Ensure image doesn't overflow rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for a stylish look */
  }
  
  .rounded-image {
    width: 100%; /* Ensure image takes up full width of container */
    height: auto; /* Maintain aspect ratio */
  }

  #root{
    background-color: #f0f0f0;
  }